@import "common";

.appointment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin:0 -$padding 0 -$padding;
    padding:0 $padding;
    .appointment-bg{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .statusBar {
        width: 100%;
    }
    // 预约列表
    .switch-tab{
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .swiper-tab {
            flex: 0 0 72rpx;
            display: flex;
			justify-content: flex-start;
			align-items: center;
			&-item {
				&.checked {
					background: $btnColor;
					opacity: 1;
				}
				background: transparent;
				padding: 12rpx 32rpx;
				border-radius: 74rpx;
				color: #fff;
				opacity: 0.6;
			}
        }
        .swiper-content {
            flex: 1;
            padding: 32rpx 0;
            &-item {
                overflow: auto;
                .swiper-item {
                    // 已预约
                    
                    &.done {
                        background: #fff;
                        border-radius: 24rpx;
                        padding: 32rpx 0 0 32rpx;
                        margin-bottom: 24rpx;
                        &>view:not(.cancel){
                            font-size: 24rpx;
                            line-height: 36rpx;
                            margin-bottom: 16rpx;
                            font-weight: 400;
                            color: rgba(29, 29, 31, 1);
                            &>text {
                                font-weight: 700;
                                padding-left: 10rpx;
                            }
                            &.type {
                                color: rgba(227, 87, 0, 1);
                            }
                        }
                        .cancel {
                            height: 80rpx;
                            line-height: 80rpx;
                            background: rgba(227, 87, 0, 0.1);
                            margin-left: -32rpx;
                            text-align: center;
                            font-size: 32rpx;
                            line-height: 80rpx;
                            color: rgba(227, 87, 0, 1);
                            &.disabled {
                                background: rgba(29, 29, 31, 0.1);
                                color: rgba(29, 29, 31, 0.6);
                            }
                        }
                      
                    }
                }
            }
        }
    }
    // 预约按钮
    &>.reservation-btn {
        flex: 0 0 88rpx;
        width: 100%;
        background: $btnColor;
        text-align: center;
        line-height: 88rpx;
        font-size: 32rpx;
        font-weight: 500;
        color: #fff;
        border-radius: 44rpx;
        margin-bottom: 49rpx;
    }
    // 没有预约列表
    .none-appointment-list {
        width: 100%;
        flex: 1;
        .none-appointment {
            width: 400rpx;
            height: 400rpx;
            margin: 312rpx auto 16rpx;
            display: block;
        }
        .desc {
            font-size: 32rpx;
            line-height: 48rpx;
            color: #fff;
            text-align: center;
        }
        &>.reservation-btn {
            width: 686rpx;
            background: $btnColor;
            text-align: center;
            line-height: 88rpx;
            font-size: 32rpx;
            font-weight: 500;
            color: #fff;
            border-radius: 44rpx;
            margin: 96rpx auto 0;
        }
    }
    // 预约流程
    .reservation {
        width: 100%;
        flex: 1;
        padding-top: 136rpx;
    }
}